* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.promo {
    height: 802px;
    background-image: url('/resourses/promo/main_bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 1140px;
    margin: 0 auto;
    margin-top: 38px;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */
    text-transform: uppercase;
    color: #FFFFFF;
}